<div class="container proview">
<p id="notice"><%= notice %></p>
  <div class="row">
    <h2>
        <%= @product.name %>
      </h2>
    <div class="col-md-4">
      <p>
        <%= image_tag(@product.image_url, class: "img-responsive") %>
        <%= render 'new_comment' %>
      </p>
    </div>
    <div class="col-xs-6 description">
      <p>
        <strong>Description:</strong><br />
        <%= @product.description %>
      </p>

      <p>
        <strong>Colour:</strong>
        <%= @product.colour %><br />
        <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
        <strong>Price:</strong>
        <%= @product.price %>
      </p>
      <p><%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>
      </p>
      <%= render 'comments' %>
      <%= will_paginate @comments %>
    </div>   
  </div>
</div>