<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Nameofapp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>  
  </head>
  <body>
  <div id="wrap">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header"> 
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-left" href="/#">
            <%= image_tag("logo_md.png", class:"img-responsive logo-image", alt: "Brand") %>
          </a>
        </div>   
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to "About", static_pages_about_path %>
            </li>
            <li>
             <%= link_to "Contact", static_pages_contact_path %>
            </li>        
            <li>
              <%= link_to "Products", products_path %>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            
            <% if user_signed_in? %>
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
              <li><%= link_to('Edit', edit_user_registration_path) %></li>
            <% else %>
              <li><a href="/users/sign_in">Login</a></li>
            <% end %>
          </ul>
           <div class="navbar-form navbar-right search" role="search">
          <div class="form-group">
            <%= form_tag("/products", method:"get") do %>
            <%= text_field_tag(:q) %>
            <%= submit_tag("Search")%>
            <% end %>
          </div> 
         
          
        </div>
        </div>
    </div>
  </nav>
  <% if notice %>
    <p id="notice" class="alert alert-info"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p id="alert" class="alert alert-info"><%= alert %></p>
  <% end %>
  <%= yield %>
  <footer>
  <div class="navbar-inverse navbar-bottom">
        <div class="container foot">
          <div>
            <ul class="foot-text">
              <li><a href="#carousel-example-generic"><span>Back to top</span></a></li>
              <li><a href="mailto:moritzdaniels@gmail.com"><span>Email me</span></a></li>
              <li><%= link_to "About", static_pages_about_path %></li>
            </ul>
          </div>
          <div class="line-separator"></div>
            <div class="copyright">&copyMoritz Daniels, 2016
            </div>
            </div>
            </div>
          </footer>
  </body>
</html>
